<div class="home">
	<h1><strong>Welcome to BumChic!</strong></h1>
	<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
  About
</button>
	<a href="#/quiz" class="btn btn-info btn-lg">Quiz</a>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Introduction to BumChic</h4>
      </div>
      <div class="modal-body">
    	   <p>We live in a world of hipsters. A typical hipster is best described as a subculture of women and men typically around the ages of twenty to thirty. They value and appreciate all things indie, witty banter, and above all, independence from typical mainstream agendas. Although a state of mind, the way of the hipster is full of fashion statements, consisting of vintage and thrift store selections. Both hipster men and women are often seen wearing thick rimmed glasses, tight-fitting pants, hard to find graphic t-shirts, and old-school sneakers. They usually sport a messy shag cut and side-swept bangs in order to balance out the "effortless cool" urban bohemian look.</p>
      </br>
    	   <p>Enter, BumChic. These individuals push the limit in fashion and frame of mind. The men and women that turn heads may or may not have showered in a day or two, but one would not be able to detect any smell to offend. They have a certain way of naturally waking up, throwing on some clothes and braving the world without a worry or care, while remaining chic in their clothing style. An honest Bum Chic-er is sure to rival any hipster in forward thinking, clothing suggestions, and remain a culture movement for years to come.</p>
      </br>
        <p>Enough chit chatter! Hit the <span>Quiz</span> button to find out your BumChic status!</p>
    </div>
  </div>
</div>
</div>


